# Dipendenze
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env — non committare mai chiavi o segreti
.env
.env.local
.env.*.local

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache Vite
.vite/
